zcolors used{
    background-color: #333232; /* nav */
    background-color: #D0A376; /* font */
    background-color: #E8C9AB; /* bloc text */
}

body {
    background-color: #D0A376;
    padding: 0;
    margin: 0;
}

#text_h1{
    border: 1px solid black;
    width: 20%;
    background:#333232;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    margin-top:1%;
    font-size: 2.5vw;
}
.taltel{
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
}

/*--------------box up-------------*/
.actu1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rawUp{
    /* background-color: azure; */ 
    display: flex;
    width: 90%;
    height: 250px;
}

.txt1 {
    font-size: 16px;
    background-color: #E8C9AB;
    margin: auto;
    margin-left: 50px;
    padding: 25px;
    width: 80%;
    height: 50%;
}

.img1 {
    width: 450px;

}
.img1:hover{
    transform: scale(0.9);
}

/*--------------box middle-------------*/
.rawMiddle {
    /* background-color: azure; */
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    height: 300px;    
}

.txt2 {
    font-size: 16px;
    background-color: #E8C9AB;
    margin: auto;
    margin-right: 50px;
    padding: 25px;
    width: 100%;
    height: 50%;
}

.img2 {
    width: 200px;
}


/*--------------box down-------------*/
.rawDown {
    /* background-color: azure; */
    display: flex;
    width: 90%;
    height: 300px;

}

.txt3 {
    font-size: 16px;
    background-color: #E8C9AB;
    margin: auto;
    margin-left: 50px;
    padding: 25px;
    width: 100%;
}

.img3 {
 width: 250px;
}

/*--------------------mid section-----------------*/

.blackLign {
    background-color: #333232;
    width: 90%;
    height: 5px;
    /* margin:5% 5% 0 5%; */ 
    margin: 5% 5% 0;   
}

#TextBar {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: 0 45%;
    margin:auto;
    width: 25%;
    background-color: #333232;
}

/*--------------------down section-----------------*/
.downSection {
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 2% 5% 5% 5%;
}

.gridElem {
    margin: 2% auto;
    max-width: 450px;
    max-height: 300px;
}

.grid8 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

